
html, body, input, button, p, span, i, ul, li, a, img, header {
  margin: 0;
  padding: 0;
}

html, body {
  color: #666;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.toast {
  width: 100%;
  min-height: 60px;
  max-height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -60px;
  opacity: 0;
  z-index: 99;
  transition: 0.5s;
  .toast-box {
    min-width: 200px;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    text-align: center;
    line-height: 60px;
    padding: 0 20px;
    font-size: 1.1em;
  }
}

.toast.success {
  top: 50px;
  opacity: 1;
  z-index: 9999;
  color: #21db4a;
}

.toast.error {
  top: 50px;
  opacity: 1;
  z-index: 9999;
  color: #ff5340;
}

.change-password-toast, .change-notarize-toast {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-password-toast {
  display: none;
  .password-toast-box {
    width: 600px;
    height: 360px;
    background: #fff;
    border-radius: 10px;
    .toast-title {
      padding: 0 10px;
      height: 50px;
      border-bottom: 1px solid #888;
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      span:first-child {
        font-size: 18px;
        font-weight: bolder;
      }
      span:last-child {
        font-size: 24px;
        cursor: pointer;
        color: #aaa;
        transition: 0.3s;
        &:hover {
          color: #666;
        }
      }
    }
    #changePassword {
      width: 100%;
      height: 310px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .changepw_token {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
      }
      div {
        width: 460px;
        height: 60px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
          width: 300px;
          height: 30px;
          line-height: 30px;
          margin-left: 10px;
          padding: 10px;
          border: none;
          outline: none;
          background: transparent;
          border-bottom: 1px solid #888;
          font-size: 1em;
        }
      }
      div:last-child {
        height: 100px;
        display: flex;
        justify-content: space-around;
        button {
          width: 120px;
          height: 40px;
          outline: none;
          background: #fff;
          border: 1px solid #888;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
          &:last-child {
            border-color: tomato;
            color: tomato;
          }
          &:hover {
            background: #888;
            color: #fff;
          }
          &:last-child:hover {
            background: tomato;
          }
        }
      }
    }
  }
}

.change-notarize-toast {
  display: none;
  .notarize-toast-box {
    width: 600px;
    height: 240px;
    background: #fff;
    border-radius: 10px;
    .toast-title {
      padding: 0 10px;
      height: 50px;
      border-bottom: 1px solid #888;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span:first-child {
        font-size: 18px;
        font-weight: bolder;
      }
      span:last-child {
        font-size: 24px;
        cursor: pointer;
        color: #aaa;
        transition: 0.3s;
        &:hover {
          color: #666;
        }
      }
    }
    .toast-content {
      width: 100%;
      height: 190px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      div.toast-text {
        width: 500px;
        line-height: 20px;
        font-size: 1em;
        text-align: center;
      }
      div.notarize-box {
        width: 60%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span {
          width: 120px;
          height: 40px;
          outline: none;
          background: #fff;
          border: 1px solid #888;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
          text-align: center;
          line-height: 40px;
          &:last-child {
            border-color: tomato;
            color: tomato;
          }
          &:hover {
            background: #888;
            color: #fff;
          }
          &:last-child:hover {
            background: tomato;
          }
        }
      }
    }
  }
}

.change-password-toast.active, .change-notarize-toast.active {
  display: flex;
}

#header {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  background: #fff;
  .logo {
    height: 0.667rem;
  }
  p {
    font-size: 1em;
  }
  .message-header {
    display: flex;
    align-items: center;
    a {
      color: #666;
      p {
        font-size: 1.6em;
        margin: 0 10px;
        position: relative;
        span.message-header-number {
          position: absolute;
          top: -6px;
          right: -8px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: tomato;
          font-size: 12px;
          color: #fff;
          text-align: center;
          line-height: 16px;
          opacity: 0;
          transition: 0.3s;
        }
        .message-header-number.active {
          opacity: 1;
        }
      }
    }
  }
  #search {
    width: 4rem;
    height: 0.533rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #666;
    input {
      font-size: 1em;
      width: 3rem;
      border: none;
      border-bottom: 1px solid #666;
      outline: none;
      padding: 0 5px;
      transition: 0.5s;
    }
    input:focus {
      color: #0eaeff;
      width: 3.5rem;
      border-bottom-color: #0eaeff;
    }
    span {
      line-height: 0.533rem;
      cursor: pointer;
      font-size: 1.2em;
    }
  }
}

.nav {
  width: 100%;
  height: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  position: sticky;
  z-index: 999;
  background: #fff;
  top: 0;

  .nva-box {
    width: 100%;
    max-width: 15rem;
    height: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    li {
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      a {
        color: #666;
        display: block;
        padding: 0 0.133rem;
        transition: 0.5s;
        border-bottom: 2px solid transparent;
      }
      a.active, a:hover {
        border-bottom-color: #0eaeff;
        color: #0eaeff;
      }
    }

  }
  @media screen and (max-width: 750px) {
    .top-box {
      width: 10rem;
    }
  }
}

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  .content-wrapper {
    overflow: hidden;
    //首页
    .swiper {
      width: 100%;
      height: auto;
      .swiper-slide {
        width: 100%;
        a {
          display: block;
          width: 100%;
          text-align: center;
          img {
            width: 100%;
          }
        }
      }

    }
    .home-content {
      width: 100%;
      height: auto;
      margin: 0.267rem 0;
      overflow: hidden;
      .study-content-box, .left-content-box, .digital-content-box, .physical-content-box {
        width: 100%;
        height: auto;
        padding: 0.267rem 0;
        overflow: hidden;
        .line-bar {
          width: 100%;
          height: 0.8rem;
          line-height: 0.8rem;
          text-align: center;
          font-size: 0.32rem;
          color: #fff;
          background: linear-gradient(to right, #04c0ff, #ff80d8);
        }
        ul {
          width: 100%;
          max-width: 16rem;
          height: auto;
          margin: 0 auto;
          padding: 0.267rem 0.133rem;
          overflow: hidden;
          background: #f7f7f7;
          display: flex;
          flex-wrap: wrap;
          border-radius: 0 0 0.2rem 0.2rem;
          li {
            width: 3.6rem;
            height: 5.067rem;
            background: #fff;
            border-radius: 0.133rem;
            overflow: hidden;
            margin: 10px 15px;
            a {
              display: block;
              width: 100%;
              height: 100%;
              color: #666;
              p {
                width: 3.6rem;
                height: 3.6rem;
                text-align: center;
                line-height: 3.6em;
                img {
                  height: 100%;
                  margin: 0 -100%;
                }
              }
              span {
                margin: 0.133rem 0.133rem 0 0.133rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
              }
              span.goods-title {
                float: left;
                color: #444;
              }
              span.goods-price {
                float: right;
                color: tomato;
              }
              span.goods-content {
                clear: both;
                float: left;
              }
            }
          }
        }
        .more-goods {
          display: block;
          width: 260px;
          margin: 10px auto;
          height: 60px;
          background: #f7f7f7;
          line-height: 60px;
          text-align: center;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.3s;
          position: relative;
          color: #444;
          &:hover {
            color: #00bbff;
          }
          &:before {
            position: absolute;
            right: 40px;
          }
        }
      }
    }
    //闲置馆
    .goodsAll-content {
      width: 100%;
      height: auto;
      padding: 0 0 0.267rem 0;
      overflow: hidden;
      .search-goods {
        width: 100%;
        height: auto;
        ul.search-goods-box {
          width: 100%;
          max-width: 1400px;
          margin: auto;
          overflow: hidden;
          height: 4.8rem;
          display: flex;
          justify-content: space-around;
          li {
            width: 12.5%;
            height: 4.8rem;
            background: url("http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690") no-repeat center;
            transition: 0.5s cubic-bezier(.72, .28, .31, .85);
            cursor: pointer;
            line-height: 360px;
            text-align: center;
            font-size: 0.32rem;
            color: #fff;
            &:hover {
              width: 50%;
              flex-shrink: 0;
              color: #06dcfd;
            }
            &:nth-of-type(2) {
              background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555502242365&di=5a65c4699661bb45ab4a501bccb4d709&imgtype=0&src=http%3A%2F%2Fimage.tupian114.com%2F20120402%2F08093780.jpg") no-repeat center;
              background-size: auto 100%;
            }
            &:nth-of-type(3) {
              background: url("https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=518073267,2767816895&fm=26&gp=0.jpg") no-repeat center;
              background-size: auto 100%;
            }
            &:nth-of-type(4) {
              background: url("https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1179026995,2455629316&fm=26&gp=0.jpg") no-repeat center;
              background-size: auto 100%;
            }
            &:nth-of-type(5) {
              background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555502853710&di=0202f5dd9377538ebbd527df0fb05442&imgtype=0&src=http%3A%2F%2Fpic25.photophoto.cn%2F20121028%2F0037037434464088_b.jpg") no-repeat center;
              background-size: auto 100%;
            }
            &:nth-of-type(6) {
              background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555502891570&di=b763cc44be086f61edabedc14cd7ab7f&imgtype=0&src=http%3A%2F%2Fpic115.nipic.com%2Ffile%2F20161116%2F7110673_184126002000_2.jpg") no-repeat center;
              background-size: auto 100%;
            }
            &:nth-of-type(7) {
              background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556097685&di=08d1fb77b3369ea28ee7094cd50b5a27&imgtype=jpg&er=1&src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20180622%2F8ad61f02489c42e0afd7534fd23b3dac.jpeg") no-repeat center;
              background-size: auto 100%;
            }
            &:nth-of-type(8) {
              background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555503143881&di=a1866426028fd0f27efe3336abcc5fbe&imgtype=0&src=http%3A%2F%2Fimg.alicdn.com%2Fimgextra%2Fi4%2F706466226%2FTB26w6up1ySBuNjy1zdXXXPxFXa_%2521%2521706466226-0-beehive-scenes.jpg") no-repeat center;
              background-size: auto 100%;
            }

          }
          li.active {
            width: 50%;
            flex-shrink: 0;
            color: #06dcfd;
          }
        }
      }
      .line-bar {
        width: 100%;
        height: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
        font-size: 0.32rem;
        color: #fff;
        background: linear-gradient(to right, #04ffeb, #769bff, #ff5a96);
        position: relative;
        .resetGoodsClass {
          width: 100px;
          height: 40px;
          position: absolute;
          top: 10px;
          right: 20px;
          font-size: 16px;
          line-height: 40px;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 5px;
          transition: 0.3s;
          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
      ul.goodsAll-container {
        width: 100%;
        max-width: 16rem;
        height: auto;
        margin: 0 auto;
        padding: 0.267rem 0.133rem;
        overflow: hidden;
        background: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0 0 0.2rem 0.2rem;
        li {
          width: 3.6rem;
          height: 5.067rem;
          background: #fff;
          border-radius: 0.133rem;
          overflow: hidden;
          margin: 10px 15px;
          a {
            display: block;
            width: 100%;
            height: 100%;
            color: #666;
            p {
              width: 3.6rem;
              height: 3.6rem;
              text-align: center;
              line-height: 3.6em;
              img {
                height: 100%;
                margin: 0 -100%;
              }
            }
            span {
              margin: 0.133rem 0.133rem 0 0.133rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
            span.goods-title {
              float: left;
              color: #444;
            }
            span.goods-price {
              float: right;
              color: tomato;
            }
            span.goods-content {
              clear: both;
              float: left;
            }
          }
        }
      }
    }
    //收藏夹
    .favorite-box {
      width: 100%;
      max-width: 16rem;
      margin: 0.267rem auto;
      .favorite-title {
        width: 100%;
        height: 0.533rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        span {
          width: 1.333rem;
          height: 0.467rem;
          border-radius: 0.067rem;
          background: #f7f7f7;
          line-height: 0.467rem;
          text-align: center;
          cursor: pointer;
          color: #fff;
        }
        .goods-select-all {
          margin: 0 0.133rem;
          background: #31be32;
        }
        .goods-delete {
          background: tomato;
        }
      }
      ul.favorite-box-content {
        width: 100%;
        box-sizing: border-box;
        height: auto;
        overflow: hidden;
        background: #f7f7f7;
        display: flex;
        flex-wrap: wrap;
        padding: 0.267rem 0.133rem;
        border-radius: 0.2rem;
        li {
          width: 3.6rem;
          height: 5.067rem;
          background: #fff;
          border-radius: 0.133rem;
          overflow: hidden;
          margin: 10px 12px;
          position: relative;
          p.goods-select {
            position: absolute;
            top: 0.067rem;
            right: 0.067rem;
            font-size: 1.5em;
            cursor: pointer;
            transition: 0.3s;
          }
          p.goods-select[select=true] {
            color: #00d673;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            color: #666;
            p {
              width: 3.6rem;
              height: 3.6rem;
              text-align: center;
              line-height: 3.6rem;
              img {
                height: 100%;
                margin: 0 -100%;
              }
            }

            span {
              margin: 0.133rem 0.133rem 0 0.133rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
              overflow: hidden;
            }
            span.goods-title {
              float: left;
              color: #444;
            }
            span.goods-price {
              float: right;
              color: tomato;
            }
            span.goods-content {
              clear: both;
              float: left;
            }
          }
        }
      }
    }
    //我的
    .mine {
      width: 100%;
      max-width: 16rem;
      height: auto;
      margin: auto;
      .mine-nav {
        width: 100%;
        height: 0.8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0.133rem 0;
        li {
          width: 30%;
          height: 60px;
          line-height: 0.8rem;
          text-align: center;
          background: #f7f7f7;
          cursor: pointer;
          color: #444;
          box-sizing: border-box;
          border-right: 1px solid #eeee;
          border-radius: 0.4rem;
          transition: 0.5s;
          &:last-child {
            border-right: none;
          }
          &:hover {
            background: #65c7fe;
            color: #fff;
          }
        }
        li.show-box {
          background: #65c7fe;
          color: #fff;
        }
      }
      .mine-box {
        width: 100%;
        height: auto;
        min-height: 600px;
        .sell-box, .purchase-box {
          width: 100%;
          max-width: 16rem;
          height: auto;
          overflow: hidden;
          transition: 0.5s;
          background: #fff;
          .plus-sell-box {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            .plus-sell {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background: #f7f7f7;
              text-align: center;
              line-height: 60px;
              font-size: 24px;
              color: #65c7fe;
              cursor: pointer;
              transition: 0.5s;
              &:hover {
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
              }
            }
          }
          .sell-title, .purchase-title {
            width: 100%;
            height: 0.533rem;
            span:first-child {
              float: left;
              width: auto;
              height: 0.533rem;
              padding: 0 0.8rem;
              line-height: 0.533rem;
              color: #fff;
              background: tomato;
              position: relative;
              left: 0;
              &:after {
                content: '';
                display: block;
                width: 0;
                border-width: 0.267rem;
                border-style: solid;
                border-color: #fff;
                border-left-color: tomato;
                position: absolute;
                right: -0.4rem;
                top: 0;
              }
            }
            .goods-delete, .goods-select-all {
              min-width: 1.333rem;
              height: 0.467rem;
              float: right;
              border-radius: 0.067rem;
              background: tomato;
              line-height: 0.467rem;
              text-align: center;
              cursor: pointer;
              color: #fff;
              user-select: none;
            }
            .goods-select-all {
              background: #31be32;
              margin: 0 0.133rem;
            }
            &:nth-last-of-type(2) span:first-child {
              background: #65c7fe;
              &:after {
                border-left-color: #65c7fe;
              }
            }
            &:nth-last-of-type(1) span:first-child {
              background: #00d673;
              &:after {
                border-left-color: #00d673;
              }
            }
          }
          ul {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom: 0.267rem;
            background: #f7f7f7;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            align-content: space-around;
            li {
              width: 48%;
              min-width: 5.333rem;
              height: auto;
              margin: 1%;
              overflow: hidden;
              background: #fff;
              padding: 0 0.267rem 0.267rem 0.267rem;
              box-sizing: border-box;
              border-radius: 10px;
              position: relative;
              p {
                height: 2em;
                line-height: 2em;
                padding-left: 0.133rem;
              }
              .goods-box {
                width: 100%;
                height: 3.2rem;
                display: flex;
                align-items: center;
                p.goods-photo {
                  width: 3.2rem;
                  height: 3.2rem;
                  overflow: hidden;
                  text-align: center;
                  line-height: 3.2em;
                  flex-shrink: 0;
                  border-radius: 0.133rem;
                  img {
                    width: auto;
                    height: 3.2rem;
                    margin: 0 -100%;
                    border-radius: 0.133rem;
                  }
                }
                p.goods-about {
                  width: 3.2rem;
                  height: 3.2rem;
                  padding-left: 0.267rem;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  span {
                    &:nth-of-type(1) {
                      color: #444;
                      font-size: 1.2em;
                      margin-top: 0.133rem;
                    }
                    &:nth-of-type(2) {
                      color: tomato;
                      margin-top: 0.133rem;

                    }
                    &:nth-of-type(3) {
                      margin-top: 0.133rem;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 4;
                      overflow: hidden;
                    }
                  }
                }
              }
              .purchaser-box {
                width: 100%;
                height: 1.6rem;
                display: flex;
                align-items: center;
                position: relative;
                img {
                  width: 1.6rem;
                  height: 1.6rem;
                  border-radius: 50%;
                  margin-top: 0.133rem;
                }
                .purchaser-about {
                  height: 1.6rem;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  align-items: flex-start;
                  margin-top: 0.133rem;
                  span {
                    line-height: 1em;

                  }
                }
                .transaction-over {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  padding: 5px 15px;
                  background: #65c7fe;
                  border-radius: 5px;
                  color: #fff;
                  cursor: pointer;
                }
              }
              .goods-select {
                width: 2em;
                height: 2em;
                position: absolute;
                top: 0;
                right: 0;
                line-height: 2em;
                text-align: center;
                font-size: 1.5em;
                cursor: pointer;
                transition: 0.3s;
              }
              .goods-select[select=true] {
                color: #00d673;
              }
            }
            @media screen and (max-width: 750px) {
              li {
                width: 8.533rem;
              }
            }
          }
        }
        .account-box {
          width: 100%;
          max-width: 16rem;
          background: #f7f7f7;
          border-radius: 0.133rem;
          height: auto;
          min-height: 8.267rem;
          transition: 0.5s;
          padding: 0.133rem 0;
          box-sizing: border-box;
          position: relative;
          .default-show {
            width: 100%;
            min-height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            z-index: 9;
            opacity: 0;
            background: #f7f7f7;
            p.default-title {
              line-height: 4em;
              font-size: 2em;
            }
            p:last-child {
              height: 0.667rem;
              width: 6.667rem;
              display: flex;
              justify-content: space-around;
              align-items: center;
              span {
                width: 2rem;
                height: 0.667rem;
                display: block;
                border-radius: 0.133rem;
                text-align: center;
                line-height: 0.667rem;
                border: 1px solid #444;
                transition: 0.5s;
                cursor: pointer;
                background: linear-gradient(to right bottom, #f7f7f7, #f7f7f7);
                &:hover {
                  background: rgba(0, 0, 0, 0.6);
                  color: #fff;
                }
              }
            }
          }
          .login-show, .sign-up-show, .mine-show {
            width: 100%;
            min-height: 8rem;
            position: absolute;
            background: #f7f7f7;
            z-index: 9;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;
            .default-title {
              height: 0.533rem;
              text-align: center;
              padding: 0 0.667rem;
              line-height: 0.533rem;
              font-size: 1.2em;
              color: #444;
              border-bottom: 1px solid #444;
            }
            .form-box {
              width: 8rem;
              height: auto;
              padding: 0.267rem 0;
              display: flex;
              justify-content: center;
              align-content: space-around;
              flex-wrap: wrap;
              .input-box {
                width: 80%;
                height: auto;
                margin: 0.4rem;
                display: flex;
                justify-content: space-around;
                align-content: space-around;
                flex-wrap: wrap;
                .input-list {
                  width: 100%;
                  height: 0.8rem;
                  margin: 0.2rem 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  span {
                    font-size: 0.4rem;
                    margin: 0.267rem;
                  }
                  input {
                    width: 4rem;
                    height: 0.533rem;
                    padding: 0 0.133rem;
                    border: none;
                    outline: none;
                    border-bottom: 0.013rem solid #444;
                    background: transparent;
                    letter-spacing: 0.027rem;
                    font-size: 1em;
                    &::placeholder {
                      color: #888;
                      font-size: 1em;
                    }

                  }
                  .verification {
                    width: 2.4rem;
                  }
                  #get-verification-code {
                    width: 1.333rem;
                    margin: 0 0.2rem;
                    border: 1px solid #444;
                    border-radius: 0.067rem;
                    cursor: pointer;
                    transition: 0.5s;
                    color: #444;
                    &:hover {
                      color: tomato;
                      border-color: tomato;
                    }
                  }
                }
                .agree {
                  height: 0.4rem;
                  input {
                    width: 0.3rem;
                    height: 0.3rem;
                    margin: 0 0.267rem;
                    font-size: 1em;
                  }
                  p {
                    a {
                      color: tomato;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
                .button {
                  outline: none;
                  width: 2rem;
                  height: 0.667rem;
                  display: block;
                  border-radius: 0.133rem;
                  text-align: center;
                  line-height: 0.667rem;
                  border: 1px solid #444;
                  transition: 0.5s;
                  cursor: pointer;
                  margin-top: 0.267rem;
                  font-size: 1.2em;
                  background: linear-gradient(to right bottom, #f7f7f7, #f7f7f7);
                  &:hover {
                    background: rgba(0, 0, 0, 0.6);
                    color: #fff;
                  }
                }

              }
            }
          }
          .mine-show {

            #user {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              flex-wrap: wrap;
              .photo-box {
                width: 320px;
                height: 320px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 10px;
                position: relative;
                img {
                  width: auto;
                  height: 320px;
                  margin: 0 -100%;
                  cursor: pointer;
                }
                input {
                  width: 100%;
                  height: 100%;
                  outline: none;
                  border: none;
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  cursor: pointer;
                }
              }
              .user-box {
                width: 540px;
                min-height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .mail-box, .input-box {
                  width: 100%;
                  min-height: 60px;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  span {
                    width: 80px;
                    padding-right: 20px;
                    text-align: right;
                    font-size: 18px;

                  }

                  p {
                    width: 300px;
                    font-size: 18px;
                    padding: 0 30px;
                  }
                  input[type=radio] {
                    width: 50px;
                    height: 50px;
                    margin: 0 30px;
                    position: relative;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 99;
                    display: none;
                  }
                  .user-token, .user-old-headPortrait, .user-id {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    display: none;
                  }
                  lable {
                    position: relative;
                    left: -80px;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    font-size: 30px;
                    cursor: pointer;
                    background: #a0ddff;
                    padding: 10px;
                    transition: 0.3s;
                    color: #fff;
                    border-radius: 50%;
                    z-index: 98;
                    display: none;

                  }
                  lable[for=female] {
                    background: #ffbaf4;
                  }

                  lable.fa-mars.active {
                    background: #009af3;
                    display: block;
                  }
                  lable.fa-venus.active {
                    background: #ff76df;
                    display: block;
                  }

                  input#male:hover + lable {
                    background: #009af3;
                  }
                  input#female:hover + lable {
                    background: #ff76df;
                  }
                  input[type=text] {
                    width: 300px;
                    height: 30px;
                    padding: 0 30px;
                    background: transparent;
                    outline: none;
                    border: none;
                    margin: 10px 0;
                    font-size: 18px;
                    color: #666;
                    border-bottom: 1px solid transparent;
                  }
                  #male.active, #female.active {
                    display: block;
                  }

                }
                .active.input-box {
                  input[type=text] {
                    border-color: #666;
                  }
                  input[type=radio] {
                    display: block;
                  }
                  lable {
                    display: block;
                  }
                }
              }
              .handle-box {
                width: 800px;
                height: 160px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                button {
                  width: 150px;
                  height: 50px;
                  border-radius: 10px;
                  outline: none;
                  background: #fff;
                  border: 1px solid #666;
                  cursor: pointer;
                  transition: 0.5s;
                  font-size: 18px;
                  color: #666;
                  &:hover {
                    background: #666;
                    color: #fff;
                  }
                }
              }
            }

          }
          .show-box {
            z-index: 99;
            opacity: 1;
            min-height: 8rem;
            height: auto;
          }
        }
      }
    }
    //商品详情
    .goods-container {
      width: 100%;
      max-width: 16rem;
      margin: 0.267rem auto;
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .swiper.goods-img {
        width: 80%;
        min-width: 8rem;
        flex-shrink: 0;
        height: 5.333rem;
        .swiper-slide {
          text-align: center;
          line-height: 5.333rem;
          img {
            height: 5.333rem;
            margin: 0 -100%;
          }
        }
      }
      .goods-details {
        width: 80%;
        min-width: 8rem;
        min-height: 3.733rem;
        height: auto;
        margin-bottom: 0.267rem;
        .seller {
          width: 100%;
          height: 1.067rem;
          img {
            width: 0.8rem;
            height: 0.8rem;
            margin: 0.133rem;
            float: left;
            text-align: center;
            line-height: 0.8em;
            border-radius: 50%;
          }
          p {
            float: left;
            height: 0.8rem;
            margin: 0.133rem;
            line-height: 60px;
            font-size: 1.2em;
          }
          p.male, p.fa-venus {
            color: #009dff;
          }
          p.famale, p.fa-mars {
            color: #ff59eb;
          }
          p:last-child {
            font-size: 1.5em;
          }
        }
        .goods-about {
          width: 100%;
          min-height: 1.867rem;
          height: auto;
          overflow: hidden;
          p.goods-name {
            float: left;
            margin: 0.133rem;
            font-size: 1.2em;
            color: #444;
          }
          p.goods-price {
            float: right;
            margin: 0.133rem 0.267rem;
            color: tomato;
            font-size: 1.2em;
          }
          p.goods-content {
            clear: both;
            float: left;
            line-height: 0.4rem;
            padding: 0 10px;
            text-indent: 2em;
          }
        }
        .goods-state {
          width: 100%;
          height: 0.8rem;
          overflow: hidden;
          display: flex;
          justify-content: space-around;
          align-items: center;
          p.to-purchase {
            text-align: center;
            line-height: 0.667rem;
            width: 4rem;
            height: 0.667rem;
            background: #71c4ff;
            border-radius: 0.133rem;
            color: #fff;
            cursor: pointer;
          }

          p.to-favorite {
            width: 4rem;
            height: 0.667rem;
            background: #71c4ff;
            border-radius: 0.133rem;
            color: #fff;
            cursor: pointer;
            text-align: center;
            line-height: 0.667rem;
          }
        }
        .goods-state.selled p {
          background: #ffdde9;
        }
      }
      .goods-comment {
        width: 80%;
        p.comment-title {
          height: 50px;
          line-height: 50px;
          padding-left: 20px;
          font-size: 1.2em;
          color: #444;
          border-bottom: 1px solid #444;
          border-top: 1px solid #444;
          text-align: center;
        }
        p.comment-plus {
          margin-top: 5px;
          width: 100%;
          min-height: 0.667rem;
          display: flex;
          overflow: hidden;
          justify-content: space-around;
          align-items: center;
          textarea {
            min-width: 70%;
            max-width: 70%;
            width: 70%;
            height: 0.667rem;
            max-height: 120px;
            min-height: 60px;
            font-size: 16px;
            padding: 10px;
            box-sizing: border-box;
          }
          span {
            width: 10%;
            height: 0.667rem;
            border-radius: 10px;
            text-align: center;
            line-height: 0.667rem;
            transition: 0.5s;
            cursor: pointer;
            background: #f7f7f7;
            font-size: 20px;
            &:hover {
              background: rgba(0, 0, 0, 0.6);
              color: #fff;
            }
          }
        }
        .comment-box {
          width: 100%;
          height: auto;
          display: flex;
          margin: 0.267rem 0;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          overflow: hidden;
          li {
            width: 100%;
            min-height: 120px;
            height: auto;
            overflow: hidden;
            padding-top: 0.133rem;
            border-bottom: 1px solid #ddd;
            p {
              width: 100%;
              height: 0.8rem;
              img {
                width: 0.8rem;
                height: 0.8rem;
                margin: 0 0.133rem;
                float: left;
                text-align: center;
                line-height: 0.8rem;
                border-radius: 50%;
              }
              span {
                color: #444;
                line-height: 0.8rem;
                &:last-child {
                  float: right;
                  margin: 0 0.267rem;
                  color: #888;
                }
              }
            }
            p:last-child {
              min-height: 40px;
              padding: 0.133rem;
              line-height: 0.427rem;
              text-indent: 2em;
              overflow: hidden;
            }
          }
        }
      }
      .go-back {
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
        &:before {
          content: '';
          display: block;
          height: 0;
          width: 0;
          border: 15px solid #fff;
          border-right-color: transparent;
          position: absolute;
          left: -15px;
        }
      }
    }
    //添加物品
    .addGoods-container {
      width: 100%;
      max-width: 16rem;
      margin: 0.267rem auto;
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background: #fcfcfc;
      .addGoods-box {
        width: 1200px;
        min-height: 400px;
        .addGoods-title {
          width: 100%;
          height: 80px;
          line-height: 80px;
          text-align: center;
          font-size: 24px;
        }
        #addGoods {
          width: 100%;
          height: auto;
          margin: auto;
          .userToken, .addGoods_user_id {
            width: 0;
            height: 0;
            display: none;
          }
          .input-box {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 60px;
            margin-top: 10px;
            position: relative;
            span {
              width: 20%;
              text-align: center;
              line-height: 60px;
              font-size: 20px;
            }
            span + input {
              width: 76%;
              border: none;
              outline: none;
              border-bottom: 1px solid #888;
              background: transparent;
              height: 50px;
              line-height: 50px;
              font-size: 20px;
              padding: 0 2%;
            }
            .radio-box {
              width: 76%;
              padding: 2%;
              min-height: 120px;
              display: flex;
              justify-content: space-around;
              align-items: center;
              flex-wrap: wrap;
              span {
                width: 120px;
                height: 60px;
                padding: 0 10px 0 20px;
                text-align: right;
              }
              input {
                width: 30px;
                height: 30px;
                margin-right: 30px;
                cursor: pointer;
              }
            }
            .goodsContent {
              width: 76%;
              min-width: 76%;
              max-width: 76%;
              padding: 2%;
              min-height: 140px;
              max-height: 400px;
              background: transparent;
              font-size: 18px;
            }
            .img-box {
              width: 76%;
              padding: 2%;
              min-height: 100px;
              display: flex;
              justify-content: space-around;
              align-items: center;
              img {
                width: 25%;
                margin: 0 -100%;
              }
            }
            .goodsPhoto {
              position: absolute;
              width: 80%;
              height: 100%;
              right: 0;
              opacity: 0;
              cursor: pointer;
            }
          }
          .button {
            width: 600px;
            height: 80px;
            margin: 10px auto;
            input {
              width: 150px;
              height: 50px;
              border: 1px solid #888;
              outline: none;
              font-size: 20px;
              border-radius: 5px;
              background: transparent;
              cursor: pointer;
              transition: 0.3s;
              &:hover {
                color: #00cfff;
                border-color: #00cfff;
              }
            }
          }
        }
      }
      .go-back {
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
        &:before {
          content: '';
          display: block;
          height: 0;
          width: 0;
          border: 15px solid #fff;
          border-right-color: transparent;
          position: absolute;
          left: -15px;
        }
      }
    }
    //404
    .fzf {
      width: 100%;
      height: 8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .fzf-404 {
        font-size: 2.667rem;
      }
      a {
        display: block;
        width: 150px;
        height: 0.667rem;
        text-align: center;
        line-height: 0.667rem;
        background: linear-gradient(to right, #16dcff, #109eff);
        border-radius: 0.333rem;
        color: #fff;

      }
    }
    //活动页
    .active-box {
      width: 100%;
      height: 100%;
      min-height: 700px;
      background: linear-gradient(to right bottom, #43ffb7, #7de4ff, #eaafff, #ff83a3);
      line-height: 700px;
      text-align: center;
      font-size: 50px;
      color: #fff;
    }
    //消息
    .message {
      position: absolute;
      width: 100%;
      min-height: 100%;
      .message-title {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 1.5em;
        color: #fff;
        background: linear-gradient(to right, #00ffe0, #00b6ff, #ff6cda);
      }
      .go-back {
        width: 105px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
        &:before {
          content: '';
          display: block;
          height: 0;
          width: 0;
          border: 15px solid transparent;
          border-right-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          left: -30px;
        }
      }
      .message-sidebar {
        width: 20%;
        box-sizing: border-box;
        padding: 10px;
        height: auto;
        min-height: 600px;
        background: #f7f7f7;
        float: left;
        ul {
          width: 100%;
          height: auto;
          border-radius: 10px;
          overflow: hidden;
          li {
            width: 100%;
            height: 70px;
            background: #fff;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            padding: 5px;
            position: relative;
            cursor: pointer;
            p:first-child {
              font-size: 1.2em;
              line-height: 35px;
              span:last-child {
                font-size: 0.8em;
                float: right;
                margin-right: 20px;
              }
            }
            p:nth-of-type(2){
              overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &:last-child {
              border: none;
            }
            .no-read{
              width: 20px;
              height: 20px;
              position: absolute;
              right: 0;
              top: 0;
              border-radius: 50%;
              background: tomato;
              line-height: 20px;
              text-align: center;
              color: #fff;
              font-size: 0.8em;
              opacity: 1;
              transition: 0.3s;
            }
            .no-read.read{
              opacity: 0;
            }
          }
        }
      }
      .message-content {
        width: 80%;
        float: left;
        box-sizing: border-box;
        padding: 10px;
        height: auto;
        min-height: 600px;
        ul{
          width: 100%;
          height: auto;
          box-sizing: border-box;
          padding: 10px;
          background: #f7f7f7;
          border-radius: 10px;
          li{
            width: 100%;
            height: auto;
            min-height: 80px;
            margin: 20px 0;
            p.message-time{
              width: 150px;
              height: 30px;
              margin: auto;
              font-size: 0.9em;
              background: rgba(0,0,0,0.2);
              border-radius: 3px;
              text-align: center;
              line-height: 30px;
              color: #fff;
            }
            p.sender{
              height: 32px;
              line-height: 32px;
              font-size: 1.2em;
              color: #444;
              border-left: 3px solid #444;
              padding: 0 10px;
            }
            p.message-text-item{
              padding: 20px;
              text-indent: 2em;
              height: 1.2em;
              background: #fff;
              border-radius: 5px;
              margin-left: 20px;
            }
          }
        }
      }
    }
    //用户信息
    .user{
      width: 100%;
      height: auto;
      .user-box{
        max-width: 1200px;
        min-width: 600px;
        height: auto;
        margin: 20px auto;
        background: #f7f7f7;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.2em;
        .user-headPortrait{
          width: 400px;
          height: 400px;
          box-sizing: border-box;
          border-radius: 10px;
          overflow: hidden;
          text-align: center;
          line-height: 400px;
          margin-top: 20px;
          img{
            height: 100%;
            margin: 0 -100%;
          }
        }
        .user-about-box{
          width: 600px;
          height: 400px;
          background: #fff;
          padding: 50px 20px;
          box-sizing: border-box;
          border-radius: 10px;
          margin-top: 20px;
          p{
            height: 60px;
          }
        }
        .user-sell-about{
          width: 1000px;
          height: 80px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: #fff;
          border-radius: 10px;
          margin: 20px;
          p{
            span{
              &:first-child{
                color: tomato;
                margin-right: 5px;
              }
            }
          }
        }
        ul.user-seller-box {
          width: 100%;
          max-width: 16rem;
          height: auto;
          margin: 0 auto;
          padding: 0.267rem 0.133rem;
          overflow: hidden;
          background: #f7f7f7;
          display: flex;
          flex-wrap: wrap;
          border-radius: 0 0 0.2rem 0.2rem;
          li {
            width: 3.6rem;
            height: 5.067rem;
            background: #fff;
            border-radius: 0.133rem;
            overflow: hidden;
            margin: 10px 12px;
            a {
              display: block;
              width: 100%;
              height: 100%;
              color: #666;
              p {
                width: 3.6rem;
                height: 3.6rem;
                text-align: center;
                line-height: 3.6em;
                img {
                  height: 100%;
                  margin: 0 -100%;
                }
              }
              span {
                margin: 0.133rem 0.133rem 0 0.133rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
              }
              span.goods-title {
                float: left;
                color: #444;
              }
              span.goods-price {
                float: right;
                color: tomato;
              }
              span.goods-content {
                clear: both;
                float: left;
              }
            }
          }
        }
      }
      .go-back {
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
        &:before {
          content: '';
          display: block;
          height: 0;
          width: 0;
          border: 15px solid #fff;
          border-right-color: transparent;
          position: absolute;
          left: -15px;
        }
      }
    }
  }
}