
@font-face {
    font-family: Perfograma;
    src: url('./perfograma.otf');
}

@font-face {
    font-family: ColorTube;
    src: url('./ColorTube.otf');
}

@font-face {
    font-family: GOGOIA-Regular;
    src: url('./GOGOIA-Regular.otf');
}

@font-face {
    font-family: Resphekt-Regular;
    src: url('./Resphekt-Regular.otf');
}

@font-face {
    font-family: LineBold;
    src: url('./Lovelo-lineBold.otf');
}

@font-face {
    font-family: Linelight;
    src: url('./Lovelo-linelight.otf');
}