<div class="favorite-box">
    <p class="favorite-title"><span class="goods-select-all">全选</span><span class="goods-delete">删除</span></p>
    <ul class="favorite-box-content">
        <li>
            <p class="goods-select fa fa-circle-o" select="false"></p>
            <a href="#/favorite">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <p class="goods-select fa fa-circle-o" select="false"></p>
            <a href="#/favorite">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <p class="goods-select fa fa-circle-o" select="false"></p>
            <a href="#/favorite">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <p class="goods-select fa fa-circle-o" select="false"></p>
            <a href="#/favorite">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
    </ul>
</div>