<div class="favorite-box">
    <p class="favorite-title">
        <span class="goods-select-all" index="0" select="false">全选</span>
        <span class="goods-delete">删除</span>
    </p>
    <ul class="favorite-box-content">
        {{ each data }}
        <li>
            <p class="goods-select fa fa-circle-o" select="false" index="{{$value._id}}"></p>
            <a href="#/goods?_id={{$value._id}}">
                <p><img src="../../../{{$value.goodsPhoto[0]}}" alt=""/></p>
                <span class="goods-title">{{$value.goodsName}}</span>
                <span class="goods-price">￥{{$value.goodsPrice}}</span>
                <span class="goods-content">{{$value.goodsContent}}</span>
            </a>
        </li>
        {{ /each }}
    </ul>
</div>