<div class="goods-container">
    <div class="swiper swiper-container goods-img">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://lightshadow.xyz/youxuan/static/images/goods/diannaoyi1.jpg" alt=""/>
            </div>
            <div class="swiper-slide">
                <img src="https://lightshadow.xyz/youxuan/static/images/goods/diannaoyi2.jpg" alt=""/>
            </div>
            <div class="swiper-slide">
                <img src="https://lightshadow.xyz/youxuan/static/images/goods/diannaoyi3.jpg" alt=""/>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="goods-details">
        <div class="seller">
            <img src="https://lightshadow.xyz/youxuan/static/images/user/user1.png" alt=""/>
            <p class="seller-name male">秋风扫落叶</p>
            <p class="seller-gender fa fa-venus"></p>
            <p class="seller-name famale">秋风扫落叶</p>
             <p class="seller-gender fa fa-mars"></p>
        </div>
        <div class="goods-about">
            <p class="goods-name">电脑椅</p>
            <p class="goods-price">￥<span>32</span></p>
            <p class="goods-content">这个电脑低价出售，概不讲价。这个电脑椅几次低价出售，概不讲价。这个电脑椅几次低价出售，概不讲价。</p>
        </div>
        <div class="goods-state">
            <p class="to-purchase ">购买</p>
            <p class="to-favorite ">收藏</p>
        </div>
    </div>
    <div class="goods-comment">
        <p class="comment-title">评论区</p>
        <ul class="comment-box">
            <li class="comment-item">
                <p>
                    <img src="https://lightshadow.xyz/youxuan/static/images/user/user2.jpg" alt=""/>
                    <span>路人甲</span>
                    <span>2019年4月10日</span>
                </p>
                <p class="comment-content">这东西还能便宜一点吗？</p>
            </li>
            <li class="comment-item">
                <p>
                    <img src="https://lightshadow.xyz/youxuan/static/images/user/user2.jpg" alt=""/>
                    <span>路人甲</span>
                    <span>2019年4月10日</span>
                </p>
                <p class="comment-content">这东西还能便宜一点吗？</p>
            </li>
            <li class="comment-item">
                <p>
                    <img src="https://lightshadow.xyz/youxuan/static/images/user/user2.jpg" alt=""/>
                    <span>路人甲</span>
                    <span>2019年4月10日</span>
                </p>
                <p class="comment-content">这东西还能便宜一点吗？</p>
            </li>
        </ul>
    </div>
    <p class="go-back">返回</p>
</div>

