<div class="goodsAll-content">
    <div class="search-goods">
        <ul class="search-goods-box">
            <li class="active" type="book">书籍/资料</li>
            <li type="penOrTool">笔/文具</li>
            <li type="cosmetics">化妆品</li>
            <li type="dailyNecessities">日用品</li>
            <li type="ball">球/球拍</li>
            <li type="bicycle">自行车/健身卡</li>
            <li type="phone">手机/电脑</li>
            <li type="electronics">电子产品</li>
        </ul>
    </div>
    <div class="line-bar">闲置用品</div>
    <ul class="goodsAll-container">
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">长篇小说</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">这本小说买来才一周，只翻过几页，没有兴趣看了，找个人收了。</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">长篇小说</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">这本小说买来才一周，只翻过几页，没有兴趣看了，找个人收了。</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
               <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">长篇小说</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">这本小说买来才一周，只翻过几页，没有兴趣看了，找个人收了。</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">长篇小说</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">这本小说买来才一周，只翻过几页，没有兴趣看了，找个人收了。</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">长篇小说</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">这本小说买来才一周，只翻过几页，没有兴趣看了，找个人收了。</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">长篇小说</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">这本小说买来才一周，只翻过几页，没有兴趣看了，找个人收了。</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
    </ul>
</div>