<div class="goodsAll-content">
    <div class="search-goods">
        <ul class="search-goods-box">
            <li goodsClass="book">书籍/资料</li>
            <li goodsClass="penOrTool">笔/文具</li>
            <li goodsClass="cosmetics">化妆品</li>
            <li goodsClass="dailyNecessities">日用品</li>
            <li goodsClass="ball">球/球拍</li>
            <li goodsClass="bicycle">自行车/健身卡</li>
            <li goodsClass="phone">手机/电脑</li>
            <li goodsClass="electronics">电子产品</li>
        </ul>
    </div>
    <div class="line-bar">闲置用品</div>
    <ul class="goodsAll-container">

    </ul>
</div>