<div class="swiper swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#/active"><img src="https://lightshadow.xyz/youxuan/index/home/static/images/swiper1.jpg" alt=""/></a>
        </div>
        <div class="swiper-slide">
            <a href="#/active"><img src="https://lightshadow.xyz/youxuan/index/home/static/images/swiper2.jpg" alt=""/></a>
        </div>
        <div class="swiper-slide">
            <a href="#/active"><img src="https://lightshadow.xyz/youxuan/index/home/static/images/swiper3.jpg" alt=""/></a>
        </div>
        <div class="swiper-slide">
            <a href="#/active"><img src="https://lightshadow.xyz/youxuan/index/home/static/images/swiper4.jpg" alt=""/></a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="home-content">
    <div class="study-content-box">
        <div class="line-bar">闲置物品</div>
        <ul>
            {{ each data.goodsArray }}
            <li>
                <a href="#/goods?_id={{$value._id}}">
                    <p><img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/></p>
                    <span class="goods-title">{{ $value.goodsName }}</span>
                    <span class="goods-price">￥{{ $value.goodsPrice }}</span>
                    <span class="goods-content">{{ $value.goodsContent }}</span>
                </a>
            </li>
            {{/each}}
        </ul>
        <a href="#/goodsAll" class="more-goods fa fa-chevron-right">更多物品</a>
    </div>
</div>

</div>