<div class="swiper swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#"><img src="https://lightshadow.xyz/youxuan/index/static/images/swiper1.jpg" alt=""/></a>
        </div>
        <div class="swiper-slide">
            <a href="#"><img src="https://lightshadow.xyz/youxuan/index/static/images/swiper2.jpg" alt=""/></a>
        </div>
        <div class="swiper-slide">
            <a href="#"><img src="https://lightshadow.xyz/youxuan/index/static/images/swiper3.jpg" alt=""/></a>
        </div>
        <div class="swiper-slide">
            <a href="#"><img src="https://lightshadow.xyz/youxuan/index/static/images/swiper4.jpg" alt=""/></a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="home-content">
    <div class="study-content-box">
        <div class="line-bar">学习用品</div>
        <ul>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="left-content-box">
        <div class="line-bar">生活用品</div>
        <ul>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="digital-content-box">
        <div class="line-bar">数码产品</div>
        <ul>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
            <li>
                <a href="#/goods">
                    <p><img src="http://s14.sinaimg.cn/mw690/001oP23Kty6FncVXlMx8d&690" alt=""/></p>
                    <span class="goods-title">电脑椅</span>
                    <span class="goods-price">￥30</span>
                    <span class="goods-content">此电脑椅九成新</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="message board">

</div>