<div class="mine">
    <ul class="mine-nav">
        <li class="mine-nav-sell show-box">出售</li>
        <li class="mine-nav-purchaser">购买</li>
        <li class="mine-nav-favorite">收藏夹</li>
        <li class="mine-nav-account">我的信息</li>
    </ul>
    <div class="mine-box">
        <div class="sell-box show-box">
            <span class="sell-title">出售中</span>
            <ul>
                <li>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="goods-delete fa fa-times"></div>
                </li>
            </ul>
            <span class="sell-title">交易中</span>
            <ul>
                <li>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <div class="purchaser-about">
                            <span>购买人信息</span>
                            <span>昵称</span>
                            <span>院系</span>
                        </div>
                        <p>交易时间</p>
                        <p>交易地点</p>
                    </div>
                    <div class="goods-delete fa fa-times"></div>
                </li>

            </ul>
            <span class="sell-title">已出售</span>
            <ul>
                <li>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <div class="purchaser-about">
                            <span>购买人信息</span>
                            <span>昵称</span>
                            <span>院系</span>
                        </div>
                        <p>交易时间</p>
                        <p>交易地点</p>
                    </div>
                    <div class="goods-delete fa fa-times"></div>
                </li>

            </ul>
        </div>
        <div class="purchase-box">
            <span class="sell-title">交易中</span>
            <ul>
                <li>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <div class="purchaser-about">
                            <span>出售人信息</span>
                            <span>昵称</span>
                            <span>院系</span>
                        </div>
                        <p>交易时间</p>
                        <p>交易地点</p>
                    </div>
                    <div class="goods-delete fa fa-times"></div>
                </li>

            </ul>
            <span class="sell-title">已购买</span>
            <ul>
                <li>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <div class="purchaser-about">
                            <span>出售人信息</span>
                            <span>昵称</span>
                            <span>院系</span>
                        </div>
                        <p>交易时间</p>
                        <p>交易地点</p>
                    </div>
                    <div class="goods-delete fa fa-times"></div>
                </li>

            </ul>
        </div>
        <div class="favorite-box">
            <ul class="favorite-box-content">
                <li>
                    <p class="favorite-delete fa fa-times"></p>
                    <a href="#/goods">
                        <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                        <span class="goods-title">电脑椅</span>
                        <span class="goods-price">￥30</span>
                        <span class="goods-content">此电脑椅九成新</span>
                    </a>
                </li>
                <li>
                    <p class="favorite-delete fa fa-times"></p>
                    <a href="#/goods">
                        <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                        <span class="goods-title">电脑椅</span>
                        <span class="goods-price">￥30</span>
                        <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
                    </a>
                </li>
                <li>
                    <p class="favorite-delete fa fa-times"></p>
                    <a href="#/goods">
                        <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                        <span class="goods-title">电脑椅</span>
                        <span class="goods-price">￥30</span>
                        <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
                    </a>
                </li>
                <li>
                    <p class="favorite-delete fa fa-times"></p>
                    <a href="#/goods">
                        <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                        <span class="goods-title">电脑椅</span>
                        <span class="goods-price">￥30</span>
                        <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="account-box">account-box</div>
    </div>
</div>