<div class="purchase-box">
            <p class="purchase-title"><span>交易中</span><span class="goods-delete">删除</span><span
                    class="goods-select-all">全选</span></p>
            <ul>
                <li>
                    <p class="sell-time">2019-2-20</p>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="purchaser-about">
                            <span>购买人信息</span>
                            <span>科院小透明</span>
                            <span>交易时间：2019-3-21</span>
                        </p>
                    </div>
                    <div class="goods-select fa fa-circle-o"></div>
                </li>
                <li>
                    <p class="sell-time">2019-2-20</p>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="purchaser-about">
                            <span>购买人信息</span>
                            <span>科院小透明</span>
                            <span>交易时间：2019-3-21</span>
                        </p>
                    </div>
                    <div class="goods-select fa fa-circle-o"></div>
                </li>
            </ul>
            <p class="purchase-title"><span>已购买</span><span class="goods-delete">删除</span><span
                    class="goods-select-all">全选</span></p>
            <ul>
                <li>
                    <p class="sell-time">2019-2-20</p>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="purchaser-about">
                            <span>购买人信息</span>
                            <span>科院小透明</span>
                            <span>交易时间：2019-3-21</span>
                        </p>
                    </div>
                    <div class="goods-select fa fa-circle-o"></div>
                </li>
                <li>
                    <p class="sell-time">2019-2-20</p>
                    <div class="goods-box">
                        <img class="goods-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="goods-about">
                            <span>物品名字</span>
                            <span>￥32</span>
                            <span>物品介绍物品介绍物品介绍物品介绍物品介绍物品介绍</span>
                        </p>
                    </div>
                    <div class="purchaser-box">
                        <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                             alt=""/>
                        <p class="purchaser-about">
                            <span>购买人信息</span>
                            <span>科院小透明</span>
                            <span>交易时间：2019-3-21</span>
                        </p>
                    </div>
                    <div class="goods-select fa fa-circle-o"></div>
                </li>
            </ul>
        </div>