<div class="purchase-box">
    <p class="purchase-title">
        <span>交易中</span>
        <span class="goods-delete" index="0">删除</span>
        <span class="goods-select-all " index="0" select="false">全选</span>
    </p>
    <ul>
        {{ each data.stateTwo }}
        <li>
            <p class="sell-time">{{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="purchaser-box">
                <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                     alt=""/>
                <p class="purchaser-about">
                    <span>购买人信息</span>
                    <span>科院小透明</span>
                    <span>交易时间：2019-3-21</span>
                </p>
            </div>
            <div class="goods-select fa fa-circle-o" index="{{$value._id}}" select="false"></div>
        </li>
        {{/each}}

    </ul>
    <p class="purchase-title">
        <span>已购买</span>
        <span class="goods-delete" index="0">删除</span>
        <span class="goods-select-all " index="0" select="false">全选</span>
    </p>
    <ul>
        {{ each data.stateThree }}
        <li>
            <p class="sell-time">{{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="purchaser-box">
                <img class="purchaser-photo" src="https://lightshadow.xyz/youxuan/index/static/images/photo.png"
                     alt=""/>
                <p class="purchaser-about">
                    <span>购买人信息</span>
                    <span>科院小透明</span>
                    <span>交易时间：2019-3-21</span>
                </p>
            </div>
            <div class="goods-select fa fa-circle-o" index="{{$value._id}}" select="false"></div>
        </li>
        {{/each}}
    </ul>
</div>