<div class="purchase-box">
    <p class="purchase-title">
        <span>交易中</span>
        <span class="goods-delete" index="0" state="1">取消订单</span>
        <span class="goods-select-all " index="0" select="false">全选</span>
    </p>
    <ul>
        {{ each data.stateTwo }}
        <li>
            <p class="sell-time">物品上架时间： {{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <a href="#/goods?_id={{$value._id}}">
                        <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                    </a>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="purchaser-box">
                <a href="#/user?_id={{$value.purchaser._id}}">
                    <img class="purchaser-photo" src="{{$value.seller.headPortrait}}" alt=""/>
                </a>
                <p class="purchaser-about">
                    <span>出售用户：{{$value.seller.nickname}}</span>
                    <span>交易时间：{{$value.purchaser.time}}</span>
                    <span>交易编号：{{$value.transaction}}</span>
                </p>
                <p class="transaction-over" index="{{$value._id}}" seller="{{$value.seller._id}}"  transaction="{{$value.transaction}}">交易完成</p>
            </div>
            <div class="goods-select fa fa-circle-o" index="{{$value._id}}"   transaction="{{$value.transaction}}" select="false"></div>
        </li>
        {{/each}}

    </ul>
    <p class="purchase-title">
        <span>已购买</span>
    </p>
    <ul>
        {{ each data.stateThree }}
        <li>
            <p class="sell-time">物品上架时间： {{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <a href="#/goods?_id={{$value._id}}">
                        <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                    </a>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="purchaser-box">
                 <a href="#/user?_id={{$value.purchaser._id}}">
                    <img class="purchaser-photo" src="{{$value.seller.headPortrait}}" alt=""/>
                </a>
                <p class="purchaser-about">
                    <span>出售用户：{{$value.seller.nickname}}</span>
                    <span>交易时间：{{$value.purchaser.time}}</span>
                    <span>交易编号：{{$value.transaction}}</span>
                </p>
            </div>
        </li>
        {{/each}}
    </ul>
</div>