<div class="sell-box ">
    <div class="plus-sell-box">
        <div class="plus-sell fa fa-plus"></div>
    </div>
    <p class="sell-title">
        <span>出售中</span>
        <span class="goods-delete" index="0" state="0">删除物品</span>
        <span class="goods-select-all " index="0" select="false">全选</span>
    </p>
    <ul>
        {{ each data.stateOne }}
        <li>
            <p class="sell-time">物品上架时间： {{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <a href="#/goods?_id={{$value._id}}">
                        <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                    </a>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="goods-select fa fa-circle-o" index="{{$value._id}}" select="false"></div>
        </li>
        {{/each}}
    </ul>
    <p class="sell-title">
        <span>交易中</span>
        <span class="goods-delete" index="1" state="1">取消订单</span>
        <span class="goods-select-all " index="1" select="false">全选</span>
    </p>
    <ul>
        {{ each data.stateTwo }}
        <li>
            <p class="sell-time">物品上架时间： {{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <a href="#/goods?_id={{$value._id}}">
                        <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                    </a>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="purchaser-box">
                <a href="#/user?_id={{$value.purchaser._id}}">
                    <img class="purchaser-photo" src="{{$value.purchaser.headPortrait}}" alt=""/>
                </a>
                <p class="purchaser-about">
                    <span>购买用户：{{$value.purchaser.nickname}}</span>
                    <span>交易时间：{{$value.purchaser.time}}</span>
                    <span>交易编号：{{$value.transaction}}</span>
                </p>
            </div>
            <div class="goods-select fa fa-circle-o" index="{{$value._id}}" transaction="{{$value.transaction}}"
                 select="false"></div>
        </li>
        {{/each}}
    </ul>
    <p class="sell-title">
        <span>已出售</span>
    </p>
    <ul>
        {{ each data.stateThree }}
        <li>
            <p class="sell-time">物品上架时间： {{ $value.formatTime }}</p>
            <div class="goods-box">
                <p class="goods-photo">
                    <a href="#/goods?_id={{$value._id}}">
                        <img src="../../../{{ $value.goodsPhoto[0] }}" alt=""/>
                    </a>
                </p>
                <p class="goods-about">
                    <span>{{ $value.goodsName }}</span>
                    <span>￥{{ $value.goodsPrice }}</span>
                    <span>{{ $value.goodsContent }}</span>
                </p>
            </div>
            <div class="purchaser-box">
                <a href="#/user?_id={{$value.purchaser._id}}">
                    <img class="purchaser-photo" src="{{$value.purchaser.headPortrait}}" alt=""/>
                </a>
                <p class="purchaser-about">
                    <span>购买用户：{{$value.purchaser.nickname}}</span>
                    <span>交易时间：{{$value.purchaser.time}}</span>
                    <span>交易编号：{{$value.transaction}}</span>
                </p>
            </div>
        </li>
        {{/each}}
    </ul>
</div>