<div class="study-content">
    <div class="line-bar">学习用品</div>
    <ul>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
        <li>
            <a href="#/goods">
                <img src="https://lightshadow.xyz/youxuan/index/static/images/photo.png" alt=""/>
                <span class="goods-title">电脑椅</span>
                <span class="goods-price">￥30</span>
                <span class="goods-content">此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新此电脑椅九成新</span>
            </a>
        </li>
    </ul>
</div>