<div class="user">
    <div class="user-box">
        <div class="user-headPortrait">
            <img src="../../../static/images/login_bg2.jpg" alt=""/>
        </div>
        <div class="user-about-box">
            <p><span>昵称： </span><span>{{data.nickname}}</span></p>
            <p><span>邮箱： </span><span>{{data.mailbox}}</span></p>
            <p><span>QQ： </span><span>{{data.contactWay.qq}}</span></p>
            <p><span>微信： </span><span>{{data.contactWay.wechat}}</span></p>
            <p><span>电话： </span><span>{{data.contactWay.phoneNumber}}</span></p>
        </div>
        <div class="user-sell-about">
            <p><span>{{data.sellGoods.length}}</span><span>件物品出售中</span></p>
            <p><span>{{data.sellGoods.length}}</span><span>件物品已售出</span></p>
        </div>
        <ul class="user-seller-box">
            <li>
                <a href="#/goods?_id=1">
                    <p><img src="../../../static/images/photo.png" alt=""/></p>
                    <span class="goods-title">1</span>
                    <span class="goods-price">￥1</span>
                    <span class="goods-content">1</span>
                </a>
            </li>
             <li>
                <a href="#/goods?_id=1">
                    <p><img src="../../../static/images/photo.png" alt=""/></p>
                    <span class="goods-title">1</span>
                    <span class="goods-price">￥1</span>
                    <span class="goods-content">1</span>
                </a>
            </li>
             <li>
                <a href="#/goods?_id=1">
                    <p><img src="../../../static/images/photo.png" alt=""/></p>
                    <span class="goods-title">1</span>
                    <span class="goods-price">￥1</span>
                    <span class="goods-content">1</span>
                </a>
            </li>
             <li>
                <a href="#/goods?_id=1">
                    <p><img src="../../../static/images/photo.png" alt=""/></p>
                    <span class="goods-title">1</span>
                    <span class="goods-price">￥1</span>
                    <span class="goods-content">1</span>
                </a>
            </li>
        </ul>
    </div>
    <p class="go-back">返回</p>
</div>