<div class="data-count">
    <div class="data-header">
        <p class="data-title">
            <span class="fa fa-bar-chart"></span>
            <span>数据统计</span>
        </p>
    </div>
    <div class="echarts-box">
        <div id="echarts1" class=" echarts"></div>
        <div id="echarts2" class=" echarts"></div>
        <div id="echarts3" class=" echarts"></div>
        <div id="echarts4" class=" echarts"></div>
        <div id="echarts5" class=" echarts"></div>
        <div id="echarts6" class=" echarts"></div>
        <div id="echarts7" class=" echarts"></div>
    </div>
</div>