<div class="goods-box">
    <div class="goods-header">
        <p class="goods-title">
            <span class="fa fa-calendar-plus-o"></span>
            <span>物品管理</span>
        </p>
    </div>
    <div class="goods-content">
        <ul class="goods-list">
            <li class="goods-item">
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>电脑椅</p>
                <p>￥32</p>
                <p>2019年4月12日</p>
                <p>出售中</p>
                <p class="look">查看</p>
                <p class="state-remove">下架</p>
                <p class="state-delete">删除</p>
            </li>
            <li class="goods-item">
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>电脑椅</p>
                <p>￥32</p>
                <p>2019年4月12日</p>
                <p>出售中</p>
                <p class="look">查看</p>
                <p class="state-remove">下架</p>
                <p class="state-delete">删除</p>
            </li>
            <li class="goods-item">
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>电脑椅</p>
                <p>￥32</p>
                <p>2019年4月12日</p>
                <p>出售中</p>
                <p class="look">查看</p>
                <p class="state-remove">下架</p>
                <p class="state-delete">删除</p>
            </li>
            <li class="goods-item">
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>电脑椅</p>
                <p>￥32</p>
                <p>2019年4月12日</p>
                <p>出售中</p>
                <p class="look">查看</p>
                <p class="state-remove">下架</p>
                <p class="state-delete">删除</p>
            </li>
            <li class="goods-item">
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>电脑椅</p>
                <p>￥32</p>
                <p>2019年4月12日</p>
                <p>出售中</p>
                <p class="look">查看</p>
                <p class="state-remove">下架</p>
                <p class="state-delete">删除</p>
            </li>
        </ul>
        <div class="page-nav">
            <ul class="page-box">
                <li class="page-item">&lt;</li>
                <li class="page-item">1</li>
                <li class="page-item">2</li>
                <li class="page-item">3</li>
                <li class="page-item">4</li>
                <li class="page-item">5</li>
                <li class="page-item">...</li>
                <li class="page-item">&gt;</li>
                <li class="page-item"><input type="text"/></li>
                <li class="page-item">go</li>
            </ul>
        </div>
    </div>
</div>