<div class="header-box">
    <div class="header-logo">
        <img src="../../../static/images/logo.png" alt="">
        <span>YOUXUAN</span>
    </div>
    <!-- 右侧内容 -->
    <div class="header-fluid">
        <!-- 侧边切换 -->
        <div class="header-switch-button fa fa-list"></div>
        <!-- 全局搜索 -->
        <div class="header-search">
            <form class="header-search-form" action="#/home">
                <input class="header-search-box" type="text" placeholder="全局搜索">
                <input value="Go" type="submit" id="all-search-submit"/>
            </form>
        </div>
        <div class="time-show">2019年2月3日 星期一</div>
        <!-- 消息-->
        <div class="header-navbar">
            <a href="#/news" class="fa fa-envelope"><span>1</span></a>
            <a href="#/notices" class="fa fa-bell"><span>2</span></a>
            <a href="#/login" class="fa fa-sign-out">退出</a>
        </div>
    </div>
</div>