<div class="home-box">
    <div class="home-header">
        <p class="home-title">
            <span class="fa fa-home"></span>
            <span>首页</span>
        </p>
    </div>
    <div class="home-swiper">
        <div class="home-swiper-title">
            <p>首页轮播推荐</p>
        </div>
        <ul class="swiper-box">
            {{ each data}}
            <li class="swiper-item" _index="{{$index}} ">
                <form _index="{{$index}}" id="swiper-form-{{$index}}" enctype="multipart/form-data" action="">
                    <input class="url-file" type="file" aria-valuemax="1" name="homePhoto"/>
                    <img class="swiper-item-img" src="../../../{{$value.homePhoto}}" alt=""/>
                    <div class="url-content ">
                        <p>
                            <span>描述： </span>
                            <input class="" type="text" name="content" required placeholder="请输入活动描述"
                                   value="{{$value.content}}" autocomplete="off"/>
                            <input _index="{{$index}}" class="change-url " type="button" value="编辑"/>
                        </p>
                        <p>
                            <span>链接： </span>
                            <input class="" type="text" name="url" required placeholder="请输入活动链接" value="{{$value.url}}"
                                   autocomplete="off"/>
                            <input _index="{{$index}}" class="submit-url input" disabled type="submit" value="保存"/>
                        </p>
                        <input class="swiper-id" type="text" name="_id" value="{{$value._id}}"/>
                        <input class="swiper-oldHomePhoto" type="text" name="oldHomePhoto"
                               value="{{$value.homePhoto}}"/>
                        <input class="swiper-accountToken" type="text" name="accountToken"/>
                    </div>
                    <p class="times fa fa-times " _id={{$value._id}}></p>
                </form>
            </li>
            {{/each}}
            {{if data.length >= 6}}
            <li class="swiper-item plus-one-box hide">
                <img class="plus-one-photo" src="../../../static/images/plus.jpg" alt=""/>
            </li>
            {{else}}
            <li class="swiper-item plus-one-box">
                <img class="plus-one-photo" src="../../../static/images/plus.jpg" alt=""/>
            </li>
            {{/if}}
        </ul>

    </div>
    <div class="home-news">
        <div class="home-news-title">
            <p>通知推送</p>
        </div>
        <div class="news-box">
            <form action=""  id="messagePush" >
                <div class="news-item">
                    <input name="accountToken" type="text" class="message-token"/>
                    <input name="_id" type="text" class="message-_id"/>
                    <p>通知标题： <input name="title" required type="text" placeholder="请输入描述"/></p>
                    <p>通知范围： 管理员<input name="receiver" value="account" type="radio" checked/>用户<input value="user" name="receiver" type="radio" /></p>
                    <p>通知内容：<textarea name="content" required id="" cols="30" rows="10"></textarea></p>
                    <p class="submit-box">
                        <input type="reset" value="重置"/>
                        <input type="submit" class="messagePush" value="发送"/>
                    </p>
                </div>
            </form>
        </div>

    </div>

</div>