<div class="home-box">
    <div class="home-header">
        <p class="home-title">
            <span class="fa fa-home"></span>
            <span>首页</span>
        </p>
        <p class="home-little-title">这里将展示所有数据的可视化界面</p>
    </div>
    <div class="echarts-box">
        <div id="echarts1" class=" echarts"></div>
        <div id="echarts2" class=" echarts"></div>
        <div id="echarts3" class=" echarts"></div>
        <div id="echarts4" class=" echarts"></div>
        <div id="echarts5" class=" echarts"></div>
        <div id="echarts6" class=" echarts"></div>
        <div id="echarts7" class=" echarts"></div>
    </div>
</div>