<div class="sidebar-box">
    <div class="sidebar-user-panel">
        <p><img class="admin-photo" src="https://lightshadow.xyz/CDN/file/images/photo.png" alt=""/></p>
        <p><span class="fa fa-circle-o"></span><span>qixuan</span></p>
        <p></p>
    </div>
    <div class="sidebar-list">
        <ul class="sidebar-nav">
            <li>
                <a class="active" href="#/home"><span class="fa fa-home"></span>首页</a>
            </li>
        </ul>
        <!-- 商品管理 -->
        <ul class="sidebar-nav">
            <li>
                <a href="#/404"><span class="fa fa-calendar-o"></span>商品管理</a>
            </li>
        </ul>
        <!-- 人员管理 -->
        <ul class="sidebar-nav">
            <p class="nav-list-little"><span class="fa fa-user"></span>人员管理<span class="fa fa-chevron-down"></span></p>
            <li>
                <a href="#/login"><span class="fa fa-angle-right"></span>用户账号管理</a>
            </li>
            <li>
                <a href="#/login"><span class="fa fa-angle-right"></span>内部账号管理</a>
            </li>
            <li>
                <a href="#/login"><span class="fa fa-angle-right"></span>注册账号管理</a>
            </li>
        </ul>
        <ul class="sidebar-nav">
            <p class="nav-list-little"><span class="fa fa-user"></span>人员管理<span class="fa fa-chevron-down"></span></p>
            <li>
                <a href="#/login"><span class="fa fa-angle-right"></span>用户账号管理</a>
            </li>
            <li>
                <a href="#/login"><span class="fa fa-angle-right"></span>内部账号管理</a>
            </li>
            <li>
                <a href="#/login"><span class="fa fa-angle-right"></span>注册账号管理</a>
            </li>
        </ul>
    </div>
</div>
