<div class="person-box">
    <div class="person-header">
        <p class="person-title">
            <span class="fa fa-user"></span>
            <span>个人中心</span>
        </p>
    </div>
    <div class="person-content">
        <form action="" id="person">
            <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
            <div class="person-about">
                <p>邮箱：1982285973@qq.com</p>
                <p>权限：中级管理员</p>
                <p>昵称：<input type="text" placeholder="请输入昵称 / 2-8个字符"/></p>
                <p class="active old-password">原密码：<input type="password" placeholder="请输入密码 / 8-16个字符"/></p>
                <p class="active new-password">新密码：<input type="password" placeholder="请输入密码 / 8-16个字符"/></p>
                <p>
                    <input class="change-password" type="button" value="修改密码"/>
                    <input type="button" value="确认修改"/>
                </p>
            </div>
        </form>
    </div>
</div>