<div class="superpowers-box">
    <div class="superpowers-header">
        <p class="superpowers-title">
            <span class="fa fa-superpowers"></span>
            <span>权限管理</span>
        </p>
    </div>
    <div class="superpowers-content">
        <p class="superpowers-title">高级权限</p>
        <ul class="superpowers-list high">
            {{each data.superPower}}
            <li>
                <p><img src="../../../{{$value.headPortrait}}" alt=""/></p>
                <p>
                    <span>{{$value.nickname}}</span>
                    <span>管理权限</span>
                    <span>管理信息</span>
                    <span>查看信息</span>
                </p>
                <p></p>
            </li>
            {{/each}}
        </ul>
        <p class="superpowers-title">中级权限</p>
        <ul class="superpowers-list middle">
            {{each data.middlePower}}
            <li>
                <p><img src="../../../{{$value.headPortrait}}" alt=""/></p>
                <p>
                    <span>{{$value.nickname}}</span>
                    <span>管理信息</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="minus-power" _id="{{$value._id}}" _authority="{{$value.authority}}">降权</span>
                </p>
            </li>
            {{/each}}
        </ul>
        <p class="superpowers-title">低级权限</p>
        <ul class="superpowers-list low">
            {{each data.lowPower}}
            <li>
                <p><img src="../../../{{$value.headPortrait}}" alt=""/></p>
                <p>
                    <span>{{$value.nickname}}</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="plus-power" _id="{{$value._id}}" _authority="{{$value.authority}}">提权</span>
                    <span class="minus-power" _id="{{$value._id}}" _authority="{{$value.authority}}">降权</span>
                </p>
            </li>
            {{/each}}
        </ul>
    </div>
</div>