<div class="superpowers-box">
    <div class="superpowers-header">
        <p class="superpowers-title">
            <span class="fa fa-superpowers"></span>
            <span>权限管理</span>
        </p>
    </div>
    <div class="superpowers-content">
        <p class="superpowers-title">高级权限</p>
        <ul class="superpowers-list high">
            <li>
                <img src="http://localhost:9000/static/image/account/login_bg2_1555336225251.jpg" alt=""/>
                <p>
                    <span>高级管理员</span>
                    <span>管理权限</span>
                    <span>管理信息</span>
                    <span>查看信息</span>
                </p>
            </li>
        </ul>
        <p class="superpowers-title">中级权限</p>
        <ul class="superpowers-list middle">
            <li>
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>
                    <span>中级管理员1</span>
                    <span>管理信息</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="minus-power">降权</span>
                </p>
            </li>
            <li>
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>
                    <span>中级管理员2</span>
                    <span>管理信息</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="minus-power">降权</span>
                </p>
            </li>
        </ul>
        <p class="superpowers-title">低级权限</p>
        <ul class="superpowers-list low">
            <li>
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>
                    <span>低级管理员1</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="plus-power">提权</span>
                    <span class="minus-power">降权</span>
                </p>
            </li>
            <li>
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>
                    <span>低级管理员2</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="plus-power">提权</span>
                    <span class="minus-power">降权</span>
                </p>
            </li>
            <li>
                <img src="https://lightshadow.xyz/youxuan/admin/static/images/photo.png" alt=""/>
                <p>
                    <span>低级管理员3</span>
                    <span>查看信息</span>
                </p>
                <p>
                    <span class="plus-power">提权</span>
                    <span class="minus-power">降权</span>
                </p>
            </li>
        </ul>
    </div>
</div>