<li class="swiper-item swiper-moban" _index="{{data}}">
    <form _index="{{data}}" id="swiper-form-{{data}}" enctype="multipart/form-data" method="post" action="">
        <input class="url-file input" type="file" required aria-valuemax="1" name="homePhoto" />
        <img class="swiper-item-img" src="../../../static/images/plus.jpg" alt=""/>
        <div class="url-content active">
            <p>
                <span>描述： </span>
                <input class="input" type="text" name="content" required placeholder="请输入活动描述" autocomplete="off"/>
                <input _index="{{data}}" class="change-url" type="button" value="取消"/>
            </p>
            <p>
                <span>链接： </span>
                <input class="input" type="text" name="url" required placeholder="请输入活动链接"  autocomplete="off"/>
                <input _index="{{data}}" class="submit-url" type="submit" value="保存"/>
            </p>
        </div>
        <p class="times fa fa-times"></p>
    </form>
</li>