<div class="user">
    <div class="user-box">
        <div class="user-headPortrait">
            <img src="http://localhost:9191/{{ data.user.headPortrait}}" alt=""/>
        </div>
        <div class="user-about-box">
            <p><span>昵称： </span><span>{{data.user.nickname}}</span></p>
            <p><span>邮箱： </span><span>{{data.user.mailbox}}</span></p>
            <p><span>QQ： </span><span>{{data.user.contactWay.qq}}</span></p>
            <p><span>微信： </span><span>{{data.user.contactWay.wechat}}</span></p>
            <p><span>电话： </span><span>{{data.user.contactWay.phoneNumber}}</span></p>
        </div>
        <div class="user-sell-about">
            <p><span>{{data.seller}}</span><span>件物品出售中</span></p>
            <p><span>{{data.selling}}</span><span>件物品交易中</span></p>
            <p><span>{{data.selled}}</span><span>件物品已售出</span></p>
            <p><span>{{data.deleted}}</span><span>件物品已下架</span></p>
        </div>
    </div>
</div>