<div class="user-box">
    <div class="user-header">
        <p class="user-title">
            <span class="fa fa-calendar-plus-o"></span>
            <span>用户账号管理</span>
        </p>
    </div>
    <div class="user-content">
        <div class="user-state">
            <p class="state-one" _index="1">在线用户</p>
            <p class="state-zero" _index="0">离线用户</p>
            <p class="state-no" _index="-1">封禁用户</p>
        </div>
        <ul class="user-list">

        </ul>
        <div class="page-nav">
            <ul class="page-box">
                {{if data.allPage > 1}}
                <li class="page-item previous">&lt;</li>
                {{else}}
                {{/if}}

                {{if data.allPage <= 5}}
                <% for(let i=1; i<=data.allPage;i++){%>
                {{if data.page === i}}
                <li class="page-item page active">{{i}}</li>
                {{else}}
                <li class="page-item page">{{i}}</li>
                {{/if}}
                <%}%>
                {{else}}
                {{if page <= 5 }}
                <% for(let j=1; j<=5;j++){%>
                {{if data.page === i}}
                <li class="page-item page active">{{j}}</li>
                {{else}}
                <li class="page-item page">{{j}}</li>
                {{/if}}
                <%}%>
                {{else}}
                <% for(let k=data.page-4; k<=data.page;k++){%>
                {{if data.page === i}}
                <li class="page-item page active">{{k}}</li>
                {{else}}
                <li class="page-item page">{{k}}</li>
                {{/if}}
                <%}%>
                {{/if}}
                {{/if}}

                {{if data.allPage > 5 && data.page !== data.allPage}}
                <li class="page-item">...</li>
                {{else}}
                {{/if}}
                {{if data.allPage > 1}}
                <li class="page-item next">&gt;</li>
                {{else}}
                {{/if}}
                <li class="page-item"><input class="page_index" type="number"/></li>
                <li class="page-item go-page">go</li>
            </ul>
        </div>
    </div>
</div>